
* {
  box-sizing: border-box;
}

.header {
  border: 1px ;
  background-color: lightskyblue;
  padding: 20px;
}

.left{
  width: 50%;
  float: left;
  padding: 15px;
  background-color: white;
  border: 1px  ;
}

.right {
  width: 50%;
  float: left;
  padding: 15px;
  border: 1px ;
  background-color: white;
}

.footer {
    
  text-align: end !important;
  font-style: italic;
  border: 1px solid bisque ;
  background-color: blue;
  padding: 20px;
}