<div class="header">
    <h1>Alert To Care</h1>
  </div>
<div class = "container">
    <div class = "card">
        <h3 class="text-center">List of Beds</h3>
        <div class = "card-body">
            <table class= "col-sm-3 table table-striped">
                <thead>
             
                </thead>
                <tbody>
                    <tr *ngFor = "let bed of beds" [ngClass] = "{red: bed.bedAvailability == false, green : bed.bedAvailability == true}" >
                    <td *ngIf = "bed.icuNumber==2"><img  [src]="myimage" height="80px" width="50px" routerLink = "/vitals"> {{bed.bedId}} , {{bed.bedSerialNumber}} </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

<div class="footer">
    <footer>
      Philips Boot camp case study
    </footer>
  
  </div>