
   <div class="header">
    <h1>Alert To Care</h1>
  </div>
   <div class="container custom-container-2">
    <h3 class="mb-3 text-center">Patient List</h3>

    <div class="col-md-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Phone No</th>
            <th scope="col">Bed ID</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of items">
            <td>{{data.patientId}}</td>
            <td>{{data.name}}</td>
            <td>{{data.age}}</td>
            <td>{{data.phoneNumber}}</td>
            <td>{{data.bed.bedId}}</td>
            <td>
              <button (click)="deletePatient(data.patientId)" class="btn btn-info" style="margin-left: 10px">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
  <div class="footer">
    <footer>
      Philips Boot camp case study
    </footer>
  
  </div>

  