.header {
    border: 1px ;
    background-color: lightskyblue;
    padding: 20px;
  }

  .btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
  }

  .btn:hover {
    background-color: RoyalBlue;
  }

  .footer {
  
    text-align: end;
    font-style: italic;
    border: 1px solid bisque ;
    background-color: blue;
    padding: 20px;
  }
  