<p>create-patient works!</p>
<h3>Create Patient</h3>
<div class="container custom-container">
  <div class="col-md-12"*ngFor="let data of items" >
    <h3 class="mb-3 text-center">Create Patient</h3>
    

    <div class="form-group">
      <input type="text" ngModel name="data.name" class="form-control" placeholder="Name">
    </div>

    <div class="form-group">
      <input type="text" ngModel name="data.age" class="form-control" placeholder="Age">
    </div>

    <div class="form-group">
      <input type="text" ngModel name="data.phoneNumber" class="form-control" placeholder="Phone no">
    </div>
    <div class="form-group">
      <input type="text" ngModel name="data.bed.bedId" class="form-control" placeholder="Bed Id">
    </div>

    <div class="form-group">
      <button class="btn btn-success btn-lg btn-block" (click)="addPatient(data)">Create Patient</button>
    </div>

  </div>
</div>

